/* product detail page - CSS */

/*body * {
  border: 1px solid black;
}*/

.page {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 72.063px;
    flex-direction: column;
    align-items: center;
    gap: 2.406px;
}

.detail-page {
    display: flex;
    width: 1050px;
    height: 754px;
    align-items: flex-start;
    padding-top: 50px;
    gap: 50px;
}

/* image-section */
.image-section {
  width: 400px;
  height: 100%;
}

.detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* text-section */

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}


/* 1 upper-contents */
.upper-contents {
  width: 100%;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 20px;

}

.company {
  color: var(--font-font2, #999);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
}

.name {
  color: var(--font-font-1, #333);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -1px;
}

.discount {
  color: var(--point-red, #FA622F);
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: -1px;
}

.discount_price {
  color: var(--font-font-1, #333);
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: -1px;
}

.info-container {
  border-top: 0.241px solid #E2E2E2;  
  border-bottom: 0.241px solid #E2E2E2;
  display: flex;
  padding: 20px 0px;
  align-items: flex-start;
  align-self: stretch;
}

.info-title {
  width: 128px;
  color: var(--font-font2, #999);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -1px;
}

.info-description {
  color: var(--font-font-1, #333);
  /* B2 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -1px;
  width: 420px;
}

.calculate-box {
  display: flex;
  padding: 10px 10px 15px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border: 1px solid var(--stroke-stroke-2, #E2E2E2);
}

.calculate-name {
  color: var(--font-font2, #999);
  /* B2 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -1px;
}

.calculate-number {
  display: flex;
  padding: 4px;
  justify-content: space-around;
  align-items: flex-start;
  width: 80px;
  height: 20px;

  /*테두리*/
  border-radius: 4px;
  border: 1px solid var(--stroke-stroke-2, #E2E2E2);

  /*text*/
  color: var(--font-font-1, #333);
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: -1px;
}

/* 2 lower-contents */
.lower-contents{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
  align-self: stretch;
}

.totalPrice-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

#price-title {
  color: #000;
  /* B2 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -1px;
}

#price {
  color: var(--font-font-1, #333);
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 114.286% */
  letter-spacing: -1px;
}

.sign_in-content {
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: var(--point-main, #5E0080);

  color: #FFF;
  text-align: center;
  /* Btn */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}